<!DOCTYPE html>
<html>
	<head>
		<title>Protector Series</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="C:\Users\Kevin\Desktop\Dev Mountain\font-awesome-4.2.0\css/font-awesome.css">
	</head>
	<body>

<!-- 	<div class="stone">
			<div class="row">
				<div class="col-md-8">
					<input placeholder="E-mail" type="text" ng-model="username" required>
					<input placeholder="Password" type="password" ng-model="password">
					<button ng-click="logIn(username, password)">Log In</button>
					<button ng-click="register(username, password)">Register</button>
				</div>
			</div>
		</div> -->

		<!-- Navbar code -->
 		<nav class="navbar navbar-default stone">
			<div class="container-fluid">
				<div class="navbar-header navbar-left">
					<a class="navbar-brand" href="#">K.M. Hardy</a>
					<!-- Sign in button goes to sign in page -->
					<button type="button" class="btn btn-default navbar-btn">Sign in</button>

					<!-- button to forum -->
					<button type="button" class="btn btn-default navbar-btn">Forum</button>

					<!-- Shop Button goes to shop page -->
					<button type="button" class="btn btn-default navbar-btn">Shop</button>

					<!-- Links to facebook and twitter -->
					<a class="navbar-right fbPadding" href="https://www.facebook.com/Protectorfanzsite"><i class="fa fa-facebook"></i></a>
					<a class="navbar-right" href="https://twitter.com/Protector_KMH"><i class="fa fa-twitter-square"></i></a>
				</div>
			</div>
		</nav>
		<!-- End Navbar code -->



		<div class="mainBody">
			<p>
				Protector Content here
			</p>
		</div>

		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	</body>
</html>