	<h1 class="title">Protector Forum Fan Page</h1>
	<p>Dear Protector fans, please refrain from bullying other users as well as the use of bad language.  Any misuse of our Fan Website will be reported and the person(s) responsible will be notified. This forum is intended to be a safe place for friendly chat/discussion and bullying will absolutely not be tolerated.  If there are any suspicious/malicious entries that you find, please feel free to email management at KMHardy.Protectorfansite@yahoo.com.</p>
	<p>Thank you for your cooperation.</p>
	<div ng-show="!isLoggedIn">
		<h4 class="notLogged">Uh oh! You are not logged in yet, go to the Login page to submit posts to the forum!</h4>
	</div>
	<div class="row forumFont" ng-show="isLoggedIn">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Submit new Posts
				</div>
				<div class="panel-body">
					<form class="form" ng-submit="addPost(title, body)">
						<div class="form-group">
							<label>Title</label>
							<input type="text" class="form-control" placeholder="title" ng-model="title">
						</div>
						<div class="form-group">
							<label>Body</label>
							<textarea type="text" class="form-control" placeholder="body" ng-model="body"></textarea>
						</div>
					</form>
				</div>
				<div class="panel-footer">
					<div class="row">
						<div class="col-md-6">
							<button class="btn btn-info btn-block" ng-click="addPost()">Post!</button>
						</div>
						<div class="col-md-6">
							<button class="btn btn-default btn-block" ng-click="reset()">Cancel Post</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row forumFont">
		<div class="col-md-12">
			<div class="panel panel-success">
				<div class="panel-heading">
					Recent Posts
				</div>
				<div class="panel-body">
					<div ng-repeat="messages in messages">
						<div class="postBorder">
							<h3>{{messages.username}}</h3>
							<h4>{{messages.title}}</h4>
							<i>{{messages.timestamp | date : format : timezone}}</i>
							<p>{{messages.body}}</p>
						</div>
						<div ng-repeat="comment in messages.comments track by $index">
							{{comment}}
						</div>
						<form ng-submit="submitComment($index, messages.commentForm)">
							<div class="form-group">
								<textarea class="form-control" placeholder="comment" ng-model="messages.commentForm"></textarea>
								<button class="btn btn-info btn-block">Submit</button>
							</div>
						</form>
						<!-- <div ng-repeat="comment in messages.comments track by $index">
							{{comment}}
						</div> -->
					</div>
				</div>
				<div class="panel-footer">
					<!-- <div class="row">
						<div class="col-md-6">
							<button ng-click="submitComment($index, post.commentForm)" class="btn btn-info btn-block">Submit</button>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>