	<h1 class="title">Protector Forum Fan Page</h1>
	<p>Dear Protector fans, please refrain from bullying other users as well as the use of bad language.  Any misuse of our Fan Website will be reported and the person(s) responsible will be notified. This forum is intended to be a safe place for friendly chat/discussion and bullying will absolutely not be tolerated.  If there are any suspicious/malicious entries that you find, please feel free to email management at KMHardy.Protectorfansite@yahoo.com.</p>
	<p>Thank you for your cooperation.</p>
	<h2 class="notLogged">Sorry folks, but the forum isn't working right now! Please check back and well get it running ASAP! In the meantime please visit our <a href="https://www.facebook.com/Protectorfanzsite" target="_blank">facebook</a> and <a href="https://twitter.com/Protector_KMH" target="_blank">twitter</a> pages!</h2>
	<div ng-show="!isLoggedIn">
		<h4 class="notLogged">Uh oh! You are not logged in yet, go to the Login page to submit posts to the forum!</h4>
	</div>
	<div class="row forumFont" ng-show="isLoggedIn">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Submit new Posts
				</div>
				<div class="panel-body">
					<form class="form" ng-submit="addPost(newPost.title, newPost.body)">
						<div class="form-group">
							<label>Title</label>
							<input type="text" class="form-control" placeholder="title" ng-model="newPost.title">
						</div>
						<div class="form-group">
							<label>Body</label>
							<textarea type="text" class="form-control" placeholder="body" ng-model="newPost.body"></textarea>
						</div>
					</form>
				</div>
				<div class="panel-footer">
					<div class="row">
						<div class="col-md-2">
							<button class="btn btn-info btn-block" ng-click="addPost()">Post!</button>
						</div>
						<div class="col-md-2">
							<button class="btn btn-default btn-block" ng-click="reset()">Cancel Post</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row forumFont">
		<div class="col-md-12">
			<div class="panel panel-success">
				<div class="panel-heading">
					Recent Posts
				</div>
				<div class="panel-body">
					<div ng-repeat="post in posts">
						<div class="borderTop postBorder">
							<h3>{{post.username}}</h3>
							<h4>{{post.title}}</h4>
							<i>{{post.timestamp | date : format : timezone}}</i>
							<p>{{post.body}}</p>
							</br>
							<p>Comments: </p>
						</div>
						<div class="postBorder" ng-repeat="comment in post.comments track by $index">
							{{comment}}
						</div>
						<form class="borderTop" ng-submit="submitComment($index, post.commentForm)">
							<div class="form-group">
								<textarea class="form-control" placeholder="comment" ng-model="post.commentForm"></textarea>
								<button class="btn btn-info btn-block">Submit</button>
							</div>
						</form>
						<!-- <div ng-repeat="comment in post.comments track by $index">
							{{comment}}
						</div> -->
					</div>
				</div>
				<div class="panel-footer">
					<!-- <div class="row">
						<div class="col-md-6">
							<button ng-click="submitComment($index, post.commentForm)" class="btn btn-info btn-block">Submit</button>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>